/*colorpicker*/
.ui-colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.ui-colorpicker-color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.ui-colorpicker-color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorpicker_overlay.png);
}
.ui-colorpicker-color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.ui-colorpicker-hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.ui-colorpicker-hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.ui-colorpicker-new-color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.ui-colorpicker-current-color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.ui-colorpicker-hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.ui-colorpicker input {
	height: 15px;
}
.ui-colorpicker-hex input {
	margin-left: 18px;
	right: 6px;
	width: 47px;
}
.ui-colorpicker-field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.ui-colorpicker-field label {
	padding-left: 17px;
	font-size: 10px;
}
.ui-colorpicker-field input {
	width: 25px;
}
.ui-colorpicker-field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.ui-colorpicker-rgb-r {
	background-image: url(../images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.ui-colorpicker-rgb-g {
	background-image: url(../images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.ui-colorpicker-rgb-b {
	background-image: url(../images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.ui-colorpicker-hsb-h {
	background-image: url(../images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.ui-colorpicker-hsb-s {
	background-image: url(../images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.ui-colorpicker-hsb-b {
	background-image: url(../images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.ui-colorpicker-submit {
	position: absolute;
	left: 296px;
	top: 144px;
	overflow: hidden;
}
.ui-colorpicker-focus {
	background-position: center;
}
.ui-colorpicker-hex.ui-colorpicker-focus {
	background-position: bottom;
}
.ui-colorpicker-submit.ui-colorpicker-focus {
	background-position: bottom;
}
.ui-colorpicker-slider {
	background-position: bottom;
}
