 @font-face {
 font-family: "Vegur-Light";
 font-style: normal;
 font-weight: normal;
 src: url('vegur-l_0600.eot') format("eot"), url('vegur-l_0600.woff') format("woff"), url('vegur-l_0600.ttf') format("truetype"), url('vegur-l_0600.svg') format("svg");
}
@font-face {
 font-family: "RaphaelIcons";
 font-style: normal;
 font-weight: normal;
 src: local("?"), url('raphaelicons-webfont.woff') format("woff"), url('raphaelicons-webfont.ttf') format("truetype"), url('raphaelicons-webfont.svgwebfontkof9f4sx') format("svg");
}
@font-face {
 font-family: "Novecentowide-Bold";
 src: url('20d042_0_0.eot') format("embedded-opentype"), url('20d042_0_0.woff') format("woff"), url('20d042_0_0.ttf') format("truetype");
}
@font-face {
 font-family: "Novecentowide-Light";
 src: url('20d042_1_0.eot') format("embedded-opentype"), url('20d042_1_0.woff') format("woff"), url('20d042_1_0.ttf') format("truetype");
}
@font-face {
 font-family: "Novecentowide-DemiBold";
 src: url('20d042_2_0.eot') format("embedded-opentype"), url('20d042_2_0.woff') format("woff"), url('20d042_2_0.ttf') format("truetype");
}
@font-face {
 font-family: "Novecentowide-Book";
 src: url('20d042_3_0.eot') format("embedded-opentype"), url('20d042_3_0.woff') format("woff"), url('20d042_3_0.ttf') format("truetype");
}
@font-face {
 font-family: "Novecentowide-Normal";
 src: url('20d042_4_0.eot') format("embedded-opentype"), url('20d042_4_0.woff') format("woff"), url('20d042_4_0.ttf') format("truetype");
}
@font-face {
 font-family: "Novecentowide-Medium";
 src: url('20d042_5_0.eot') format("embedded-opentype"), url('20d042_5_0.woff') format("woff"), url('20d042_5_0.ttf') format("truetype");
}
.Novecentowide-DemiBold {
	font-family: Novecentowide-DemiBold;
	font-weight: normal;
	font-style: normal;
}
@font-face {
 font-family: "NobileRegular";
 font-style: normal;
 font-weight: normal;
 src: url('nobile-webfont.eot') format("embedded-opentype"), url('nobile-webfont.woff') format("woff"), url('nobile-webfont.ttf') format("truetype"), url('nobile-webfont.svg') format("svg");
}
@font-face {
 font-family: "NobileItalic";
 font-style: normal;
 font-weight: normal;
 src: url('nobile_italic-webfont.eot') format("embedded-opentype"), url('nobile_italic-webfont.woff') format("woff"), url('nobile_italic-webfont.ttf') format("truetype"), url('nobile_italic-webfont.svg') format("svg");
}
@font-face {
 font-family: "NobileBold";
 font-style: normal;
 font-weight: normal;
 src: url('nobile_bold-webfont.eot') format("embedded-opentype"), url('nobile_bold-webfont.woff') format("woff"), url('nobile_bold-webfont.ttf') format("truetype"), url('nobile_bold-webfont.svg') format("svg");
}
@font-face {
 font-family: "NobileBoldItalic";
 font-style: normal;
 font-weight: normal;
 src: url('nobile_bold_italic-webfont.eot') format("embedded-opentype"), url('nobile_bold_italic-webfont.woff') format("woff"), url('nobile_bold_italic-webfont.ttf') format("truetype"), url('nobile_bold_italic-webfont.svg') format("svg");
}


#featured_slider {
	position: relative;
	height: 450px;
	width: 100%;
	overflow: hidden;
	padding-top: 0px;
	background: url("../images/banner-bg.png") repeat-y center top #B40707; 
}

#expertise {
	height: 104px;
	position: relative;
	box-shadow: 0px 2px 3px rgb(136, 136, 136);
	border-top: 1px solid rgb(204, 204, 204);
	z-index: 9999;
	overflow: hidden;
	background: -moz-linear-gradient(center top, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 48%, rgb(244, 244, 244) 100%) repeat scroll 0% 0% transparent;
}
#expertise span.bullet {
	position: absolute;
	top: 40px;
	left: 475px;
}
#expertise ul {
	list-style: none outside none;
	float: left;
}
#expertise ul li {
	float: left;
	margin: 0px;
}
#expertise ul li a {
	float: left;
	padding-bottom: 25px;
	width: 366px;
	margin: 0px;
	padding-right: 50px;
	padding-left: 70px;
	border-right: 1px solid rgb(204, 204, 204);
	cursor: pointer;
	border-left: 1px solid rgb(204, 204, 204);
	color: rgb(153, 153, 153);
}
#expertise ul li a:hover {
	box-shadow: 0px 0px 15px rgb(153, 153, 153);
	background: -moz-linear-gradient(center top, rgb(249, 249, 249) 0%, rgb(237, 237, 237) 47%, rgb(221, 221, 221) 100%) repeat scroll 0% 0% transparent;
}
#expertise ul li a:hover .title {
	color: rgb(0, 0, 0);
}
#expertise ul li a:hover .subtitle {
	color: rgb(0, 0, 0);
}
#expertise ul li a.text-right {
	border-right: 1px solid white;
	padding-left: 50px;
	padding-right: 70px;
}
#expertise .title {
	font-size: 25px;
	font-family: Novecentowide-DemiBold;
	line-height: 0px;
	margin: 38px 0px 0px;
	display: block;
	color: rgb(153, 153, 153);
}
#expertise .subtitle {
	font-size: 15px;
	font-family: Novecentowide-Book;
	line-height: 22px;
	color: rgb(153, 153, 153);
	display: block;
}
#slideshow * {
}
.red {
	color: rgb(194, 11, 11);
}
#slideshowX h2, .box_testi h2 {
	font-family: 'Novecentowide-Light';
	font-size: 30px;
	font-weight: normal;
	margin: 0px 0px 15px;
}
#slideshowX h3 {
	font-family: 'Novecentowide-Book';
	font-size: 20px;
}
.img_cut {
	float: left;
	position: relative;
	margin-left: -160px;
	margin-top: 10px;
}
.img_cut img {
	width: 414px;
	margin-top: 21px;
}
.img_cut.mac img {
	width: auto;
	margin-top: 0px;
}
.box_option {
	width: 320px;
	float: right;
	margin: 0px 0px 0px 20px;
	position: relative;
	z-index: 999;
	height: 500px;
}
.box_option h2, .box_option h1 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 22px;
	line-height: 35px;
	font-family: 'Novecentowide-Book';
	font-weight: normal;
}
.box_option h3 {
	font-family: 'Novecentowide-Book';
	font-size: 18px;
	position: absolute;
	z-index: 999;
	top: 125px;
	left: 529px;
	width: 430px;
	text-align: center;
	font-weight: normal;
}
.box_option h4 {
	font-size: 12px;
	position: absolute;
	z-index: 999;
	top: 44px;
	left: -584px;
	width: 100px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}
.box_tagline h2, .box_testi h2, .box-customer h2 {
	font-family: Novecentowide-Book;
	font-size: 16px;
}
.box_option p {
	font-size: 14px;
	line-height: 24px;
}
.box-customer {
	position: relative;
}
.box_testi {
	float: left;
	width: 310px;
	margin-right: 15px;
	margin-top: 50px;
}
#slideshowX .button, 
#slideshowX .button:visited {
	background: url('img/overlay-button.png') repeat-x scroll 0% 0% rgb(34, 34, 34);
	display: inline-block;
	padding: 5px 10px 6px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	font-family: 'Novecentowide-Bold';
	font-size: 25px;
}
#slideshowX .button, 
#slideshowX .button:visited, .medium.button, 
#slideshowX .medium.button:visited {
	font-size: 13px;
	font-weight: normal;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
}
.button:hover {
	opacity: 0.8;
}
.large.button, .large.button:visited {
	font-size: 15px;
	margin-top: 10px;
	padding: 5px 48px 5px 18px;
	text-transform: uppercase;
	line-height: normal ! important;
	height: 20px;
}
.red.button, .red.button:visited {
	background: url('img/bg_red_button.png') repeat-x scroll 0% 0% transparent;
}
.red.button:hover {
	background-color: rgb(207, 37, 37);
	color: rgb(255, 255, 255);
}
.box_railway {
	background: url('img/rail.png') no-repeat scroll 0% 0% transparent;
	float: right;
	width: 851px;
	height: 613px;
	position: absolute;
	z-index: 99;
	top: -14px;
	right: 42px;
	padding-right: 30px;
}
.railway_ico {
	position: absolute;
	background: url('img/bullet.png') no-repeat scroll 0% 0% transparent ! important;
	color: transparent;
	width: 58px;
	height: 54px;
}
.railway_ico:hover {
	background: url('img/bullet-hover.gif') no-repeat scroll 0% 0% transparent ! important;
}
.railway_ico.one {
	top: 96px;
	right: 601px;
}
.railway_ico.two {
	top: 94px;
	right: 421px;
}
.railway_ico.three {
	top: 193px;
	right: 299px;
}
.railway_ico.four {
	top: 281px;
	right: 416px;
}
.railway_ico.five {
	top: 373px;
	right: 303px;
}
.railway_ico.six {
	top: 480px;
	right: 301px;
}
.viewport {
	float: left;
	height: 100px;
	margin: 0px -1px 0px 0px;
	overflow: hidden;
	position: relative;
	width: 100px;
	text-align: center;
	padding: 0px 11px 0px 10px;
	border: 1px solid rgb(204, 204, 204);
	background: none repeat scroll 0% 0% rgb(250, 250, 250);
}
.viewport:hover {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.viewport a {
	display: block;
	position: relative;
}
.viewport a img {
	height: 120px;
	left: -10px;
	position: relative;
	top: -10px;
	width: 120px;
}
.viewport a .dark-background img {
	width: auto ! important;
	height: auto ! important;
	position: relative;
	top: 17px;
	left: -2px;
}
.viewport a span {
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 100%;
	padding-top: 20px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	width: 100%;
	z-index: 100;
}
.dark-background {
	background: none repeat scroll 0% 0% transparent;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.popup_dev .large.red.button {
	font-size: 13px;
	height: 15px;
	padding: 7px 15px 6px;
	font-family: Novecentowide-Demibold;
	margin-top: 20px;
	margin-right: 10px;
	line-height: normal;
}
.box_option div {
	position: absolute;
}
.popup_dev {
	padding: 30px;
	background: none repeat scroll 0% 0% white;
	z-index: 99;
	top: -700px;
	width: 915px;
	height: 300px;
	margin: 0px auto;
	border-radius: 10px 10px 0px 0px;
	position: absolute;
	box-shadow: 0px 0px 6px rgb(51, 51, 51);
	overflow: hidden;
}
.popup_dev h2 {
	color: rgb(0, 0, 0);
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.overlay_bg {
	background: url('img/bg_black.png') repeat scroll 0% 0% transparent;
	width: 100%;
	height: 600px;
	position: absolute;
	margin-top: -80px;
	z-index: 55;
}
.close-popup {
	background: none repeat scroll 0% 0% black;
	color: white;
	font-family: Helvetica;
	font-size: 9px;
	padding: 3px 8px;
	border-radius: 20px 20px 20px 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}
.close-popup:hover {
	color: rgb(255, 255, 255);
	background: none repeat scroll 0% 0% rgb(194, 11, 11);
}
.width652 {
	width: 652px;
}
.popup_dev p {
	font-size: 14px;
}
#railway, #content-inside {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	padding: 0px;
}
#railway {
	background: none repeat scroll 0% 0% rgb(245, 245, 245);
}
#railway .container {
	padding-top: 40px;
}
#contact-wrapper {
	padding: 20px 30px 0px;
	width: 840px;
}
.hide {
	display: none;
}
#slideshow {
	font-size: 14px;
	color: rgb(71, 71, 71);
}
#slideshow div {
	width: 270px;
	padding: 20px;
	margin: 0px;
	background: url('img/testi.png') no-repeat scroll 0% 0% transparent;
	height: 200px;
	position: relative;
	text-align: right;
}
#slideshow h4 {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: normal;
	position: absolute;
	top: 260px;
	right: 10px;
	font-family: Novecentowide-bold;
	text-align: right;
}
#slideshow h4 em {
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	margin: 10px 0px 0px;
	font-family: Helvetica;
}
.box_testi #slideshow a {
	color: rgb(217, 53, 53);
}
.news-update {
	float: left;
	width: 280px;
	margin-right: 30px;
}
.news-update h2 {
	font-family: Helvetica;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}
.news-update p {
	font-size: 13px;
	line-height: 22px;
}
.news-update span {
	font-family: Helvetica;
	font-size: 11px;
	margin-bottom: 5px;
	display: block;
}
.box_testi.news {
	margin-left: 15px;
	width: 620px;
	margin-bottom: 40px;
}
.content_rails_two h3 {
	top: 127px;
	left: -682px;
}
.content_rails_one h3 {
	top: 149px;
	left: -682px;
}
.content_rails_three h3 {
	top: 149px;
	left: -682px;
}
.content_rails_four h3 {
	top: 147px;
	left: -692px;
}
.content_rails_five h3 {
	top: 147px;
	left: -692px;
}
.content_rails_six h3 {
	top: 147px;
	left: -692px;
}
.testips {
	position: absolute;
	border: 1px solid rgb(0, 0, 0);
	background: url('img/black-bg.png') repeat scroll -860px -260px transparent;
	z-index: 100;
	padding: 10px;
	width: 292px;
	margin-top: -194px;
	margin-left: -35px;
	color: rgb(255, 255, 255);
}
.box_testi a.closebtn {
	cursor: pointer;
	float: right;
}
footer {
	background: none repeat scroll 0% 0% transparent;
}
.box_info_home {
	color: rgb(0, 0, 0);
	padding: 10px 0px;
}
.box_info_home h2 {
	color: rgb(0, 0, 0);
	font-family: 'Novecentowide-DemiBold';
	font-size: 13px;
	letter-spacing: 0px;
	line-height: 18px;
	margin-bottom: 10px;
	word-spacing: 2px;
	font-weight: normal;
}
.box_info_home ul {
	list-style: none outside none;
	margin-bottom: 0px;
}
.box_info_home ul li {
	float: left;
	margin: 10px 20px -20px 15px;
}
.box_info_home ul li.location {
	width: 220px;
}
.box_info_home ul li.social {
	width: 130px;
	margin-right: 0px;
}
.box_info_home ul li.social a {
	margin-top: 5px;
	display: block;
}
.box_info_home ul li.social a:hover .twitter-ico, .box_info_home ul li.social a:hover .fb-ico, .box_info_home ul li.social a:hover .blog-ico {
	opacity: 0.5;
}
.box_info_home ul li p {
	font-size: 10px;
	line-height: 22px;
}
.box_info_home ul li p.align-left {
	max-width: 100px;
	min-width: 70px;
}
.box_info_home ul li a {
	color: rgb(0, 0, 0);
}
.box_info_home ul li a:hover {
	color: rgb(194, 11, 11);
}
#slideshow {
	position: relative;
	height: 325px;
	z-index: 3;
}
.nav_porto .iphone-ico {
	margin-top: 0px;
}
.ecommerce-ico {
	background-position: -150px -144px;
	width: 72px;
	height: 77px;
	margin: 7px auto 0px;
	opacity: 0.3;
}
.network-ico {
	background-position: -241px -158px;
	width: 72px;
	height: 57px;
	margin: 20px auto 0px;
	opacity: 0.3;
}
.map-ico {
	background-position: -317px -142px;
	width: 68px;
	height: 81px;
	margin: 7px auto 0px;
	opacity: 0.3;
}
.next-ico {
	background-position: -384px -142px;
	width: 30px;
	height: 81px;
	margin: 7px auto 0px;
	opacity: 0.3;
}
.software-ico {
	background-position: 0px -82px;
	width: 93px;
	height: 58px;
	margin: 7px auto 0px;
	opacity: 0.3;
}
#main-nav ul ul.nav_porto li a {
	width: 91px;
	height: 100px;
	text-align: center;
	line-height: 13px;
}
.nav_porto li a:hover .next-ico, .nav_tech li a:hover .next-ico, .nav_porto li a:hover .software-ico, .nav_porto li a:hover .iphone-ico, .nav_porto li a:hover .map-ico, .nav_porto li a:hover .ecommerce-ico, .nav_porto li a:hover .network-ico, .nav_porto li a:hover .software-ico {
	opacity: 1;
}
#contact-wrapper h2 {
	font-size: 55px;
	color: rgb(255, 255, 255);
}
#contact-wrapper h4 {
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-family: NobileRegular;
	font-weight: normal;
}
#contact-wrapper label {
	float: left;
	font-family: NobileRegular;
	font-weight: normal;
	width: 33%;
	font-size: 14px;
	color: rgb(255, 255, 255);
}
#contact-wrapper label input[type="text"] {
	width: 85%;
	margin-top: 10px;
	border-radius: 5px 5px 5px 5px;
	padding: 3px 10px;
	font-size: 13px;
	font-family: NobileRegular;
	border: medium none;
	color: rgb(0, 0, 0);
}
#contact-wrapper input[type="submit"] {
	border: medium none;
	float: right;
	padding: 3px 15px 10px;
	width: auto;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 29px;
}
#contact-wrapper label.message {
	width: 522px;
}
#contact-wrapper label.message textarea {
	width: 481px;
	height: 100px;
	margin-top: 10px;
	border-radius: 5px 5px 5px 5px;
	padding: 3px 10px;
	font-size: 13px;
	font-family: NobileRegular;
	border: medium none;
	color: rgb(0, 0, 0);
}
#contact-wrapper label select {
	font-size: 14px;
	padding: 4px;
	margin-top: 11px;
	border-radius: 5px 5px 5px 5px;
	width: 261px;
	height: 36px;
	color: rgb(0, 0, 0);
}
#contact-wrapper .errors, #contact-wrapper .success {
	color: rgb(255, 255, 255);
	float: left;
	font-size: 12px;
	padding: 5px 10px;
	border-radius: 5px 5px 5px 5px;
}
#contact-wrapper .errors {
	background: none repeat scroll 0% 0% rgb(194, 11, 11);
}
#contact-wrapper .success {
	background: none repeat scroll 0% 0% rgb(107, 155, 5);
}
.mail {
	text-decoration: underline;
}
.require {
	color: yellow;
}
ul.iw_thumbs li:nth-child(1) {
margin-left: 0px;
}
ul.iw_thumbs li:nth-child(2n) {
margin-top: 0px;
}
ul.iw_thumbs li:nth-child(3n) {
margin-left: 0px;
}
ul.iw_thumbs li:nth-child(2n) img {
height: 180px;
}
ul.iw_thumbs li:nth-child(2n+1) img {
height: 150px;
}
ul.iw_thumbs li:nth-child(5n) img {
height: 180px;
}
ul.iw_thumbs li:nth-child(6n) img {
height: 220px;
}
ul.iw_thumbs li:nth-child(7n) img {
height: 210px;
}
.phone-number {
	font-size: 15px;
	font-style: normal;
	font-family: 'Novecentowide-DemiBold';
}
.d-none {
	display: none;
}
.one {
	background: url('img/numbers.png') no-repeat scroll 11.15% 11% transparent;
}
.two {
	background: url('img/numbers.png') no-repeat scroll 20% 11% transparent;
}
.three {
	background: url('img/numbers.png') no-repeat scroll 28.5% 11% transparent;
}
.four {
	background: url('img/numbers.png') no-repeat scroll 37% 11% transparent;
}
.five {
	background: url('img/numbers.png') no-repeat scroll 45.5% 11% transparent;
}
.six {
	background: url('img/numbers.png') no-repeat scroll 54% 11% transparent;
}
#slideshowX ul {
	list-style: none outside none;
}
#slideshowX .red.button span.ico-button {
	font-family: 'RaphaelIcons', cursive;
	color: white;
	font-size: 29px;
	position: absolute;
	top: 2px;
	margin-left: 10px;
	right: 10px;
}
#sequence-preloader img:nth-child(2) {
animation-delay: 0.15s;
}
#sequence-preloader img:nth-child(3) {
animation-delay: 0.3s;
}
#slideshowX .next, #slideshowX .prev {
	color: white;
	cursor: pointer;
	display: none;
	font-size: 80px;
	font-weight: bold;
	position: absolute;
	opacity: 0.7;
	top: 230px;
	height: 41px;
	width: 39px;
	z-index: 20;
	transition-duration: 0.4s;
}
#slideshowX .prev {
	left: 20px;
	position: absolute;
}
#slideshowX .next {
	position: absolute;
	right: 20px;
}
#slideshowX .next:hover, 
#slideshowX .prev:hover {
	opacity: 1;
	transform: scale(1.2);
	transition-duration: 0.4s;
}
#slideshowX * {
margin:0px; padding:0px;
}
#slideshowX li > * {
	position: absolute;
}
#slideshowX {
	height: 600px;
	margin: 0px auto;
	position: relative;
	max-width: 1400px;
	box-shadow: 0px 0px 330px rgb(153, 153, 153) inset;
	width: 100%;
}
#slideshowX h2 {
	font-size: 1.5em;
	line-height: 1.2em;
}
.info {
	color: black;
	font-size: 1em;
	right: 105%;
	line-height: 1.2em;
	top: -250px;
	width: 100%;
	z-index: 10;
	vertical-align: middle;
	transition-duration: 2s;
}
.info h2.white, .info h3.white {
	color: rgb(255, 255, 255) ! important;
}
.info.animate-in {
	right: 0%;
	top: 120px;
	transition-duration: 2s;
}
.info.animate-out {
	right: 25%;
	top: 500px;
	transition-duration: 2s;
}
.info2 {
	color: black;
	font-size: 1em;
	right: 150%;
	line-height: 1.2em;
	top: 125px;
	width: 800px;
	z-index: 10;
	vertical-align: middle;
	text-align: left;
	transition-duration: 4s;
}
.info2 h2 {
	font-size: 40px;
	color: rgb(0, 0, 0);
	line-height: normal;
}
.info {
	text-align: center;
}
.info h2 {
	font-size: 68px ! important;
	color: black ! important;
	margin: 10px 0px 0px;
	text-transform: capitalize;
	font-family: 'Novecentowide-Bold';
}
.info h3 {
	font-size: 35px ! important;
	color: rgb(0, 0, 0) ! important;
	margin: 10px 0px 20px;
}
.info2.animate-out {
	right: -150%;
	transition-duration: 4s;
}
.sky {
	left: 0px;
	opacity: 0;
	top: 0px;
	vertical-align: middle;
	z-index: 1;
	width: 100%;
	margin-top: 10px;
}
.sky.animate-in {
	left: 0%;
	opacity: 1;
	top: 0px;
	transition-duration: 4s;
	z-index: 1;
}
.sky.animate-out {
	left: 0px;
	opacity: 0;
	top: 0px;
	transition-duration: 4s;
	z-index: 1;
}
.tech-slide {
	right: 10%;
	max-width: 40%;
	top: 600px;
	opacity: 0;
	z-index: 6;
}
.hand-slide {
	right: 0px;
	max-width: 40%;
	top: 600px;
	opacity: 0;
	z-index: 6;
}
.ruby-slide {
	right: 15%;
	max-width: 40%;
	top: 640px;
	opacity: 0;
	z-index: 6;
}
.ruby-slide.animate-out {
	right: 15%;
	top: 600px;
	opacity: 0;
	transition-duration: 2s;
	z-index: 2;
}
.pulse_holder, .pulse_holder2 {
	display: block;
	position: absolute;
	top: 160px;
	left: 182px;
	z-index: 9999;
}
.pulse_holder2 {
	display: block;
	position: absolute;
	top: 240px;
	left: 122px;
	z-index: 9999;
}
.pulse_holder3 {
	display: block;
	position: absolute;
	top: 140px;
	left: 122px;
	z-index: 9999;
}
.pulse_holder .pulse_marker, .pulse_holder2 .pulse_marker, .pulse_holder3 .pulse_marker {
	width: 10px;
	height: 10px;
	background: none repeat scroll 0% 0% rgb(194, 11, 11);
	border-radius: 28px 28px 28px 28px;
}
.pulse_holder .pulse_rays, .pulse_holder2 .pulse_rays, .pulse_holder3 .pulse_rays {
	margin: 0px auto;
	position: absolute;
	right: -28px;
	top: -29px;
	z-index: 9999;
	background-color: transparent;
	opacity: 0.3;
	width: 64px;
	height: 64px;
	border: 3px solid rgb(153, 153, 153);
	border-radius: 100px 100px 100px 100px;
	animation: 2s linear 0s normal none infinite pulse;
}
.railway_ico.contact {
	background: url('img/mail2.gif') repeat scroll 0px -20px transparent ! important;
	top: 481px;
	right: 12px;
	height: 40px;
	z-index: 1000;
}
.box_option {
	height: 420px;
}
#railway .box-customer {
	margin-top: 70px;
}
.liteAccordion.stitch .slide:nth-child(1) > h2 span, .liteAccordion.stitch .slide:nth-child(1) > h2:after {
background-color: rgb(194, 82, 82);
}
.liteAccordion.stitch .slide:nth-child(2) > h2 span, .liteAccordion.stitch .slide:nth-child(2) > h2:after {
background-color: rgb(202, 152, 89);
}
.liteAccordion.stitch .slide:nth-child(3) > h2 span, .liteAccordion.stitch .slide:nth-child(3) > h2:after {
background-color: rgb(150, 186, 95);
}
.liteAccordion.stitch .slide:nth-child(4) > h2 span, .liteAccordion.stitch .slide:nth-child(4) > h2:after {
background-color: rgb(89, 171, 183);
}
.liteAccordion.stitch .slide:nth-child(5) > h2 span, .liteAccordion.stitch .slide:nth-child(5) > h2:after {
background-color: rgb(187, 96, 152);
}
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99999;
}
#tiptip_holder.tip_bottom {
	padding-top: 5px;
}
#tiptip_content {
	font-size: 11px;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 2px rgb(0, 0, 0);
	padding: 6px 13px 4px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-color: rgb(184, 1, 10);
	border-radius: 13px 13px 13px 13px;
	box-shadow: 0px 0px 3px rgb(51, 51, 51);
	line-height: normal;
}
#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0px;
	width: 0px;
}
#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: rgb(184, 1, 10);
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(184, 1, 10);
}
@media not all {
 #tiptip_content {
padding: 4px 8px 5px;
background-color: rgb(184, 1, 10);
}
 #tiptip_holder.tip_bottom #tiptip_arrow_inner {
border-bottom-color: rgb(184, 1, 10);
}
}
#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99999;
	overflow: hidden;
}
#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}
#cboxContent {
	position: relative;
}
#cboxLoadedContent {
	overflow: auto;
}
#cboxTitle {
	margin: 0px;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}
#colorbox {
	box-shadow: 1px 3px 9px rgb(0, 0, 0);
	border-radius: 5px 5px 5px 5px;
	background: url('img/contact-bg.gif') repeat scroll 0% 0% rgb(51, 51, 51);
}
#cboxContent {
	background: none repeat scroll 0% 0% transparent;
}
#cboxTopCenter {
	height: 0px;
	background-color: rgb(27, 159, 225);
	border-radius: 0px 0px 0px 0px;
}
#cboxContent {
	overflow: visible;
}
#cboxLoadedContent {
	margin-bottom: 20px;
}
#cboxTitle {
	position: absolute;
	top: -24px;
	left: 0px;
	margin-left: 20px;
	text-align: left;
	width: 100%;
	color: rgb(55, 150, 31);
	text-shadow: 0px 1px 0px rgb(186, 255, 204);
	font-weight: bold;
	z-index: 0;
}
#cboxCurrent {
	position: absolute;
	bottom: 0px;
	left: 100px;
	color: rgb(153, 153, 153);
}
#cboxSlideshow {
	position: absolute;
	bottom: 0px;
	right: 42px;
	color: rgb(68, 68, 68);
}
#cboxPrevious {
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: rgb(68, 68, 68);
}
#cboxNext {
	position: absolute;
	bottom: 0px;
	left: 63px;
	color: rgb(68, 68, 68);
}
#cboxLoadingOverlay {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
#cboxClose {
	position: absolute;
	bottom: 0px;
	right: 1px;
	top: 8px;
	background: url('img/close.gif') no-repeat scroll 0% 0% transparent;
	width: 25px;
	height: 25px;
	text-indent: -99999px;
}
#sequence-preloader img:nth-child(2) {
animation-delay: 0.15s;
}
#sequence-preloader img:nth-child(3) {
animation-delay: 0.3s;
}
