@font-face {
    font-family: 'antonioregular';
    src: url('../fonts/antonio-regular-webfont.eot');
    src: url('../fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio-regular-webfont.woff') format('woff'),
         url('../fonts/antonio-regular-webfont.ttf') format('truetype'),
         url('../fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
background-color: #FFFFFF;
background-image: url('images/60degree_gray.png');
background-position: top left;
background-repeat: repeat-x;
		-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: "Antonio",Arial,sans-serif;

}


.page .page-block { background-color: #fff; }




.page-element .contents
{
font-family: Times New Roman;
font-weight: normal;
}

.page-element.widget-headline .contents h1
{
/*font-family: 'PT Sans Narrow', sans-serif;*/
font-family: "Antonio",Arial,sans-serif;
font-weight: normal;
font-style:normal !important;
}

.page-element.widget-form form
{
font-family: 'Arial', sans;
}

[id^=___plusone] { width:51px !important; }

div.social.lines [id^=___plusone] { width:62px !important; }
div.social.lines [id^=twitter-widget-]{ width:78px !important; }
div.social.lines span[class^=IN-widget] { min-width:70px !important; }
div.social.buttons [id^=___plusone] { width:36px !important; }
div.social.buttons span[class^=IN-widget] { width:64px !important; }
div.social.buttons div[class^=fb-like] { width:300px !important; }
div.social.tiles span[class^=IN-widget] { width:65px !important; }

@-moz-document url-prefix()
{
.widget-form .email-form-messagebox-wrapper .email-form-messagebox li
{
margin-left: 10px;
}
}






.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fbpluginrecommendationsbarleft,.fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}.fbpluginrecommendationsbarleft{left:10px}.fbpluginrecommendationsbarright{right:10px}</style><style type="text/css">* html #li_ui_li_gen_1409057365641_0 a#li_ui_li_gen_1409057365641_0-link{height:1% !important;}#li_ui_li_gen_1409057365641_0{position:relative !important;overflow:visible !important;display:block !important;}#li_ui_li_gen_1409057365641_0 span{-webkit-box-sizing:content-box !important;-moz-box-sizing:content-box !important;box-sizing:content-box !important;}#li_ui_li_gen_1409057365641_0 a#li_ui_li_gen_1409057365641_0-link{border:0 !important;height:20px !important;text-decoration:none !important;padding:0 !important;margin:0 !important;display:inline-block !important;}#li_ui_li_gen_1409057365641_0 a#li_ui_li_gen_1409057365641_0-link:link, #li_ui_li_gen_1409057365641_0 a#li_ui_li_gen_1409057365641_0-link:visited, #li_ui_li_gen_1409057365641_0 a#li_ui_li_gen_1409057365641_0-link:hover, #li_ui_li_gen_1409057365641_0 a#li_ui_li_gen_1409057365641_0-link:active{border:0 !important;text-decoration:none !important;}#li_ui_li_gen_1409057365641_0 a#li_ui_li_gen_1409057365641_0-link:after{content:"." !important;display:block !important;clear:both !important;visibility:hidden !important;line-height:0 !important;height:0 !important;}#li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-logo{background-image:url(https://static.licdn.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png) !important;background-position:0px -276px !important;background-repeat:no-repeat !important;background-size:initial !important;cursor:pointer !important;border:0 !important;text-indent:-9999em !important;overflow:hidden !important;padding:0 !important;margin:0 !important;position:absolute !important;left:0px !important;top:0px !important;display:block !important;width:20px !important;height:20px !important;float:right !important;border-radius:0 !important;-webkit-border-radius:0 !important;border-top-right-radius:2px !important;border-bottom-right-radius:2px !important;-webkit-border-top-right-radius:2px !important;-webkit-border-bottom-right-radius:2px !important;}#li_ui_li_gen_1409057365641_0.hovered #li_ui_li_gen_1409057365641_0-logo{background-position:-20px -276px !important;}#li_ui_li_gen_1409057365641_0.clicked #li_ui_li_gen_1409057365641_0-logo, #li_ui_li_gen_1409057365641_0.down #li_ui_li_gen_1409057365641_0-logo{background-position:-40px -276px !important;}.IN-shadowed #li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-logo{}#li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title{color:#333 !important;cursor:pointer !important;display:block !important;white-space:nowrap !important;float:left !important;margin-left:1px !important;vertical-align:top !important;overflow:hidden !important;text-align:center !important;height:18px !important;padding:0 4px 0 23px !important;border:1px solid #000 !important;border-top-color:#E2E2E2 !important;border-right-color:#BFBFBF !important;border-bottom-color:#B9B9B9 !important;border-left-color:#E2E2E2 !important;border-left:0 !important;text-shadow:#FFFFFF -1px 1px 0 !important;line-height:20px !important;border-radius:0 !important;-webkit-border-radius:0 !important;border-top-right-radius:2px !important;border-bottom-right-radius:2px !important;-webkit-border-top-right-radius:2px !important;-webkit-border-bottom-right-radius:2px !important;background-color:#ECECEC !important;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#ECECEC)) !important; background-image: -webkit-linear-gradient(top, #FEFEFE 0%, #ECECEC 100%) !important;}#li_ui_li_gen_1409057365641_0.hovered #li_ui_li_gen_1409057365641_0-title{border:1px solid #000 !important;border-top-color:#ABABAB !important;border-right-color:#9A9A9A !important;border-bottom-color:#787878 !important;border-left-color:#04568B !important;border-left:0 !important;background-color:#EDEDED !important;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#DEDEDE)) !important; background-image: -webkit-linear-gradient(top, #EDEDED 0%, #DEDEDE 100%) !important;}#li_ui_li_gen_1409057365641_0.clicked #li_ui_li_gen_1409057365641_0-title, #li_ui_li_gen_1409057365641_0.down #li_ui_li_gen_1409057365641_0-title{color:#666 !important;border:1px solid #000 !important;border-top-color:#B6B6B6 !important;border-right-color:#B3B3B3 !important;border-bottom-color:#9D9D9D !important;border-left-color:#49627B !important;border-left:0 !important;background-color:#DEDEDE !important;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#E3E3E3), color-stop(100%,#EDEDED)) !important; background-image: -webkit-linear-gradient(top, #E3E3E3 0%, #EDEDED 100%) !important;}.IN-shadowed #li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title{}.IN-shadowed #li_ui_li_gen_1409057365641_0.hovered #li_ui_li_gen_1409057365641_0-title{}.IN-shadowed #li_ui_li_gen_1409057365641_0.clicked #li_ui_li_gen_1409057365641_0-title, .IN-shadowed #li_ui_li_gen_1409057365641_0.down #li_ui_li_gen_1409057365641_0-title{}#li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title-text, #li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title-text *{color:#333 !important;font-size:11px !important;font-family:Arial, sans-serif !important;font-weight:bold !important;font-style:normal !important;-webkit-font-smoothing:antialiased !important;display:inline-block !important;background:transparent none !important;vertical-align:top !important;height:18px !important;line-height:20px !important;float:none !important;}#li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title-text strong{font-weight:bold !important;}#li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title-text em{font-style:italic !important;}#li_ui_li_gen_1409057365641_0.hovered #li_ui_li_gen_1409057365641_0-title-text, #li_ui_li_gen_1409057365641_0.hovered #li_ui_li_gen_1409057365641_0-title-text *{color:#000 !important;}#li_ui_li_gen_1409057365641_0.clicked #li_ui_li_gen_1409057365641_0-title-text, #li_ui_li_gen_1409057365641_0.down #li_ui_li_gen_1409057365641_0-title-text, #li_ui_li_gen_1409057365641_0.clicked #li_ui_li_gen_1409057365641_0-title-text *, #li_ui_li_gen_1409057365641_0.down #li_ui_li_gen_1409057365641_0-title-text *{color:#666 !important;}#li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title #li_ui_li_gen_1409057365641_0-mark{display:inline-block !important;width:0px !important;overflow:hidden !important;}.success #li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title{color:#333 !important;border-top-color:#E2E2E2 !important;border-right-color:#BFBFBF !important;border-bottom-color:#B9B9B9 !important;border-left-color:#E2E2E2 !important;background-color:#ECECEC !important;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#ECECEC)) !important; background-image: -webkit-linear-gradient(top, #FEFEFE 0%, #ECECEC 100%) !important;}.success #li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title-text, .success #li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title-text *{color:#333 !important;}.IN-shadowed .success #li_ui_li_gen_1409057365641_0 #li_ui_li_gen_1409057365641_0-title{}.success #li_ui_li_gen_1409057365641_0.hovered #li_ui_li_gen_1409057365641_0-title{color:#000 !important;border-top-color:#ABABAB !important;border-right-color:#9A9A9A !important;border-bottom-color:#787878 !important;border-left-color:#04568B !important;background-color:#EDEDED !important;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#DEDEDE)) !important; background-image: -webkit-linear-gradient(top, #EDEDED 0%, #DEDEDE 100%) !important;}.success #li_ui_li_gen_1409057365641_0.hovered #li_ui_li_gen_1409057365641_0-title-text, .success #li_ui_li_gen_1409057365641_0.hovered #li_ui_li_gen_1409057365641_0-title-text *{color:#000 !important;}.success #li_ui_li_gen_1409057365641_0.clicked #li_ui_li_gen_1409057365641_0-title, .success #li_ui_li_gen_1409057365641_0.down #li_ui_li_gen_1409057365641_0-title{color:#666 !important;border-top-color:#B6B6B6 !important;border-right-color:#B3B3B3 !important;border-bottom-color:#9D9D9D !important;border-left-color:#49627B !important;background-color:#DEDEDE !important;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#E3E3E3), color-stop(100%,#EDEDED)) !important; background-image: -webkit-linear-gradient(top, #E3E3E3 0%, #EDEDED 100%) !important;}.success #li_ui_li_gen_1409057365641_0.clicked #li_ui_li_gen_1409057365641_0-title-text, .success #li_ui_li_gen_1409057365641_0.down #li_ui_li_gen_1409057365641_0-title-text, .success #li_ui_li_gen_1409057365641_0.clicked #li_ui_li_gen_1409057365641_0-title-text *, .success #li_ui_li_gen_1409057365641_0.down #li_ui_li_gen_1409057365641_0-title-text *{color:#666 !important;}.IN-shadowed .success #li_ui_li_gen_1409057365641_0.clicked #li_ui_li_gen_1409057365641_0-title, .IN-shadowed .success #li_ui_li_gen_1409057365641_0.down #li_ui_li_gen_1409057365641_0-title{}</style><style>.gc-bubbleDefault{background-color:transparent !important;text-align:left;padding:0 !important;margin:0 !important;border:0 !important;table-layout:auto !important}.gc-reset{background-color:transparent !important;border:0 !important;padding:0 !important;margin:0 !important;text-align:left}.pls-bubbleTop{border-bottom:1px solid #ccc !important}.pls-topTail,.pls-vertShimLeft,.pls-contentLeft{background-image:url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/border_3.gif) !important}.pls-topTail{background-repeat:repeat-x !important;background-position:bottom !important}.pls-vertShim{background-color:#fff !important;text-align:right}.tbl-grey .pls-vertShim{background-color:#f5f5f5 !important}.pls-vertShimLeft{background-repeat:repeat-y !important;background-position:right !important;height:4px}.pls-vertShimRight{height:4px}.pls-confirm-container .pls-vertShim{background-color:#fff3c2 !important}.pls-contentWrap{background-color:#fff !important;position:relative !important;vertical-align:top}.pls-contentLeft{background-repeat:repeat-y;background-position:right;vertical-align:top}.pls-dropRight{background-image:url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleDropR_3.png) !important;background-repeat:repeat-y !important;vertical-align:top}.pls-vert,.pls-tailleft,.pls-dropTR .pls-dropBR,.pls-dropBL,.pls-vert img{vertical-align:top}.pls-dropBottom{background-image:url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleDropB_3.png) !important;background-repeat:repeat-x !important;width:100%;vertical-align:top}.pls-topLeft{background:inherit !important;text-align:right;vertical-align:bottom}.pls-topRight{background:inherit !important;text-align:left;vertical-align:bottom}.pls-bottomLeft{background:inherit !important;text-align:right}.pls-bottomRight{background:inherit !important;text-align:left;vertical-align:top}.pls-tailtop,.pls-tailright,.pls-tailbottom,.pls-tailleft{display:none;position:relative}.pls-tailbottom,.pls-tailtop,.pls-tailright,.pls-tailleft,.pls-dropTR,.pls-dropBR,.pls-dropBL{background-image:url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleSprite_3.png) !important;background-repeat:no-repeat}.tbl-grey .pls-tailbottom,.tbl-grey .pls-tailtop,.tbl-grey .pls-tailright,.tbl-grey .pls-tailleft,.tbl-grey .pls-dropTR,.tbl-grey .pls-dropBR,.tbl-grey .pls-dropBL{background-image:url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleSprite-grey.png) !important}.pls-tailbottom{background-position:-23px 0}.pls-confirm-container .pls-tailbottom{background-position:-23px -10px}.pls-tailtop{background-position:-19px -20px}.pls-tailright{background-position:0 0}.pls-tailleft{background-position:-10px 0}.pls-tailtop{vertical-align:top}.gc-bubbleDefault td{line-height:0;font-size:0}.pls-topLeft img,.pls-topRight img,.pls-tailbottom{vertical-align:bottom}.pls-bottomLeft img,.bubbleDropTR,.pls-dropBottomL img,.pls-dropBottom img,.pls-dropBottomR img,.pls-bottomLeft{vertical-align:top}.pls-dropTR{background-position:0 -22px}.pls-dropBR{background-position:0 -27px}.pls-dropBL{background-position:0 -16px}.pls-spacertop,.pls-spacerright,.pls-spacerbottom,.pls-spacerleft{position:static !important}.pls-spinner{bottom:0;position:absolute;left:0;margin:auto;right:0;top:0}



#element-5 .submit-button
{
background-color: #000000;

	color: #ffffff;
	}

#element-5 label
{
color: #000000;
}

::-webkit-input-placeholder
{ /* WebKit browsers */
color: #000000	}

:-moz-placeholder
{ /* Mozilla Firefox 4 to 18 */
color: #000000;
}

::-moz-placeholder
{ /* Mozilla Firefox 19+ */
color: #000000;
}

:-ms-input-placeholder
{ /* Internet Explorer 10+ */
color: #000000;
}

#element-5 label.error
{
color: #C00;
}

#element-5 input[type="text"],
#element-5 input[type="password"],
#element-5 input[type="email"],
#element-5 textarea
{
color: #000000;
background-color: #ffffff;
border-color: #555555;
}
#element-5 select
{
border-color: #555555;
}

#element-5 .dynamic-button:hover
{
background-color: #000000;
}

	#element-5 .submit-holder
{
position: relative;
}

#element-5 .dynamic-button, #element-5 .image-button
{
position: absolute;
margin: 0;
top: 195px;
left: 334.5px;
width: 300px;
height: 52px;
z-index: 6;
}

	#element-5 .dynamic-button.glossy
{
background-image: linear-gradient(bottom, #000000, rgb(26, 26, 26) );
background-image: -o-linear-gradient(bottom, #000000, rgb(26, 26, 26) );
background-image: -moz-linear-gradient(bottom, #000000, rgb(26, 26, 26) );
background-image: -webkit-linear-gradient(bottom, #000000, rgb(26, 26, 26) );
background-image: -ms-linear-gradient(bottom, #000000, rgb(26, 26, 26) );
background-image: -webkit-gradient(
linear,
right bottom,
right top,
color-stop(0, #000000),
color-stop(0.66, rgb(26, 26, 26))
);
border: #000000 solid 1px;

}

				#element-5 .dynamic-button.glossy:hover
{
background-image: linear-gradient(bottom, #000000, rgb(26, 26, 26));
background-image: -o-linear-gradient(bottom, #000000, rgb(26, 26, 26));
background-image: -moz-linear-gradient(bottom, #000000, rgb(26, 26, 26));
background-image: -webkit-linear-gradient(bottom, #000000, rgb(26, 26, 26));
background-image: -ms-linear-gradient(bottom, #000000, rgb(26, 26, 26));
background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0, #000000),
	color-stop(0.66, rgb(26, 26, 26))
);
border: #000000 solid 1px;
text-shadow: #000000 0px 1px 1px;
}

## for slider

ul{
	list-type: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

.slider{
 margin: 0 auto;
 width: 625px;
 height: 345px;	
 
 border: 8px solid #FFFFFF;
 border-radius:5px;
 box-shadow: 2px 2px 4px #333333;
}
.muslide{ width:100%; height: 410px; overflow:hidden; }
.muslide li{ width:100%;}
.muslide li img{ width:100%;}
.mybtn{ float:left; width:70%; margin:0 0 0 15%;}
.shop_btn{ float:left; padding:15px; background:#181818; margin:0 10px 0 0; text-decoration:none; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:18px; border-radius:5px; }
.shop_btn:hover{ background:#e6808b;}
.tiredtit{ background: rgba(0, 0, 0, 0.5); padding:0 10px 13px 10px; }

#fancybox-content{ border-radius:0px !important; width:660px !important; }
.mainseemapdiv{background:#fdfcfd url(images/home-bg-pattern.jpg) repeat-x 0 0; padding:25px; float:left; width:610px; font-family:Arial, Helvetica, sans-serif }
.seemappopup{  margin:auto; box-shadow:0 0 3px #888888; background:#fdfcfd url(images/home-bg-pattern.jpg) repeat-x 0 0; float:left; width:660px }
.popup_label{ color:#181818; font-size:14px; margin:5px 0 }
.popup_label span{ color:#ff5454 }
.massage_input, .massage_input2{ width: 267px; margin-top:5px; padding: 8px; margin: 0; font-size: 14px; color: #111; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; outline: none; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; vertical-align: top; background: #eceef0; border: none;-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,0.3); -moz-box-shadow: inset 0 2px 0 rgba(0,0,0,0.3); box-shadow: inset 0 2px 0 rgba(0,0,0,0.3); border:1px solid #d8d8d8; }

textarea.massage_input2{ height:125px }

.flt_left{ float:left; }
.flt_right{ float:right; margin-left:2%; }

.flt_clear{ clear:both; }
.check_box_txt{ color:#181818; margin-top:15px; font-size:14px; }
.to_inputbox{ margin-bottom:15px; }
.shop_btn_req{ background:#e6808b; float:right; }
.shop_btn_req:hover{ background:#e6808b !important; }

.header_bg{ /*background:#fdfcfd url(images/home-bg-pattern.jpg) repeat-x 0 0;*/ height:546px; }
/*.header_bg{ background:#ffffff; height:546px; }*/
.bdr_sep{ border-bottom:1px solid #181818; }

.required{
	background: #fcdada;
	color: #c10e0e;
}

#section-1, #section-3{ /*background:#ffffff */}
#section-2, .section-2{/*background: #fdfcfd url(images/home-bg-pattern_1.jpg) repeat-x 0 0;*/ }
#section-4, .section-4{/*background: #ffffff;*/ height:350px }
.txt_sub{ border:1px solid #181818; padding:10px 3px 10px 10px; margin-bottom:10px; width:300px }


.submit-button{background-image: linear-gradient(bottom, black, #1A1A1A );
background-image: -o-linear-gradient(bottom, black, #1A1A1A );
background-image: -moz-linear-gradient(bottom, black, #1A1A1A );
background-image: -webkit-linear-gradient(bottom, black, #1A1A1A );
background-image: -ms-linear-gradient(bottom, black, #1A1A1A );
background-image: -webkit-gradient( linear, right bottom, right top, color-stop(0, black), color-stop(0.66, #1A1A1A) );
border: black solid 1px;
cursor:pointer;
position: absolute;
margin: 0;
top: 165px;
left: 347px;
width: 300px;
height: 52px;
z-index: 6;
color:#FFFFFF;

}

.submit-button_1{ cursor:pointer;
position: absolute;
/*width:100px;
left:320px; 
top:15px;*/
margin: 0;
top: 165px;
left: 220px;
 }

.submit-button_2{ cursor:pointer;
position: absolute;
/*width:120px;
left:320px; 
top:15px;*/
margin: 0;
top: 165px;
left: 325px;
 }
 
 .submit-button_3{ cursor:pointer;
position: absolute;
/*width:100px;
left:320px; 
top:15px;*/
margin: 0;
top: 165px;
left: 509px;
 }
 
.txt_box{ position:relative; width: 350px; left:30px;}

.cnt_head{ font-style:normal; font-size: 26px; color: #4f5050; text-transform:uppercase; font-weight:bold; }
.cnt_desc{ font-size: 20px; color: #4f5050; font-family: "Antonio",Arial,sans-serif; font-style:normal;  text-align:left; }
.cnt_sub_head{ font-style:normal; font-size: 22px; color: #e6808b; text-transform:uppercase; } 
.cnt_desc_clr{ color:#e6808b; }	
