* {
	margin:0;
	padding:0;
	border:0
}

:focus {
	outline:0
}

img, fieldset {
	border:0
}
p {
	margin-bottom:1em;
	line-height:normal
}

.clearfix:after {
	clear:both;
	content:'.';
	display:block;
	visibility:hidden;
	height:0
}
.clearfix {
	display:inline-block
}
* html .clearfix {
	height:1%
}
.clearfix {
	display:block
}


#header {
	margin:40px auto 0
}
#wrapper {
	float:none;
	width:960px;
	margin:0 auto;
	text-align:center
}
#footer {
	margin:0 auto 40px
}

.emailform input.shortnice.error {
	border-color:red
}
.emailform .input-holder {
	width:240px;
	position:relative;
	margin:0 auto
}
.emailform .input-holder label.error {
	position:absolute;
	bottom:7px;
	right:3px;
	width:200px;
	text-align:right
}
.btn {
	display:inline-block;
	outline:0;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	font:bold 13px/100% Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	padding:.5em 1em .6em;
	-webkit-border-radius:.35em;
	-moz-border-radius:.35em;
	-ms-border-radius:.35em;
	-o-border-radius:.35em;
	border-radius:.35em;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased;
	font-smoothing:antialiased
}
.btn-dblue {
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,.35);
	text-shadow:0 1px 1px #3b3b3b;
	border:solid 1px #005fbc;
	background-color:#0064c8;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#007dd4), to(#0064c8));
	background-image:-webkit-linear-gradient(top, #007dd4, #0064c8);
	background-image:-moz-linear-gradient(top, #007dd4, #0064c8);
	background-image:-ms-linear-gradient(top, #007dd4, #0064c8);
	background-image:-o-linear-gradient(top, #007dd4, #0064c8);
	background-image:linear-gradient(top, #007dd4, #0064c8);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dd4', endColorstr='#0064c8')
}
.btn-dblue:hover {
	background-color:#0084de;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#008be8), to(#005db8));
	background-image:-webkit-linear-gradient(top, #008be8, #005db8);
	background-image:-moz-linear-gradient(top, #008be8, #005db8);
	background-image:-ms-linear-gradient(top, #008be8, #005db8);
	background-image:-o-linear-gradient(top, #008be8, #005db8);
	background-image:linear-gradient(top, #008be8, #005db8);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008be8', endColorstr='#005db8')
}
.btn-dblue:active {
	background-color:#005db8;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#005db8), to(#008be8));
	background-image:-webkit-linear-gradient(top, #005db8, #008be8);
	background-image:-moz-linear-gradient(top, #005db8, #008be8);
	background-image:-ms-linear-gradient(top, #005db8, #008be8);
	background-image:-o-linear-gradient(top, #005db8, #008be8);
	background-image:linear-gradient(top, #005db8, #008be8);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005db8', endColorstr='#008be8')
}
a.btn-dblue, a.btn-dblue:hover, .btn-dblue a, .btn-dblue a:hover, .btn-dblue h2 {
	color:#fff !important;
	text-decoration:none
}
#plug_centred {
	margin:5px auto 0 auto;
	display:inline-block
}
#plug {
	background-color:#fff;
	font-weight:normal;
	cursor:pointer
}
#plug .icon {
	float:left;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px
}
#plug .message {
	float:left;
	font-size:13px;
	padding-top:5px;
	color:#3c3c3c;
	padding-right:5px
}
#plug .remove {
	float:left;
	border-left:1px solid #d2d4d3;
	padding-left:5px;
	padding-top:5px;
	padding-right:5px;
	cursor:pointer
}
#plug .empty {
	padding:4px 0;
	float:left
}
#plug .brand {
	font-weight:bold;
	color:#3c3c3c
}
#plug .cleared {
	clear:both
}
#footer {
	margin:0 !important
}
.yellowbox {
	border:1px #a47120 solid;
	background-color:#fff7b3 !important;
	padding:10px 10px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	width:250px;
	margin:0 auto;
	height:100%;
	position:relative
}
.yellowbox p {
	position:absolute;
	top:50%;
	margin-top:-8px;
	left:50%;
	margin-left:-63px;
	font-size:16px;
	font-weight:bolder;
	color:#2c2223
}
.page.page2 {
	padding:0;
	width:960px;
	margin-left:auto;
	margin-right:auto
}
.page.page2.mobile {
	width:600px;
	margin:0
}
.page-block {
	position:relative
}
.page-element {
	position:absolute
}
.widget-text .contents {
	font-size:14px
}
.notification {
	display:none;
	position:relative;
	z-index:100998
}
.notification-overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#333;
	z-index:998;
	-moz-opacity:.7;
	opacity:.70;
	filter:alpha(opacity=70)
}
.notification-inner {
	width:700px;
	position:fixed;
	top:40%;
	left:20%;
	z-index:999;
	color:#fff;
	font-size:50px;
	text-align:center;
	line-height:150%
}
.notification .loading {
	display:none;
	height:40px;
	width:40px
}
.notification .close-button {
	display:none;
	position:fixed;
	top:10%;
	right:10%;
	color:#1e90ff;
	cursor:pointer
}

@media screen and (max-width:768px) {
.notification-inner {
	width:auto;
	position:fixed;
	top:40%;
	left:1em !important;
	right:1em !important;
	font-size:24px
}
}

