/* - css info -
author: Mateusz Jastrzebski 
contact: contact.pordesign@gmail.com
- */
 
.menu-1 li a,
.popular .items li,
.featured .items li,
blockquote,
.tags li a { border: 1px solid #333; border-right: 1px solid #cfcfcf; border-left: 1px solid #cfcfcf;border-bottom: 1px solid #afafaf; border-top: none;}
 
.button { border-bottom: 1px solid #616161; border-right: 1px solid #ddd;}
 
.frame,
.frame-holder img { border-color: #ddd; border-bottom-color: #bbb; border-top-color: #eee; }
 
.testimonials .read-more { display: none; }
.testimonials li:hover .read-more { display: block; }

.services { width: 103%; margin: 20px 0 20px -3%; }
.services li { float: left; margin-left: 3%;}
.services.four-cols li { margin-left: 3%; }
.services.three-cols li { margin-left: 3%; }
.services.two-cols li { margin-left: 3%;}
 
.main .testimonials.three-cols .items li { width: 31%; margin-left: 2%; }
