/* - css info -
author: Mateusz Jastrzebski 
contact: contact.pordesign@gmail.com
- */

/* = start =============GENERAL============== */
body {	font: 10pt/1.4em Arial, Helvetica, sans-serif; margin: 0; padding: 0; color: #393939; background: #fff;}

a {	color: #b54b2e; text-decoration: none;}
a:visited {	color: #b95c4d; }
a:hover,
a:focus { text-decoration: none; color: #a62802;}
a:active { }
a img {	border: none; } 
	
table {  margin: 0px auto 30px; padding: 0; border-collapse: separate; }
table td, table th { border: 1px solid #555; padding: 2px 5px;}

h1, h2, h3, h4, h5, h6 { margin: 25px 0; lin-height: 1.1em; color: #0b0b0b; font-weight: normal;}
h1 { font-size: 2.2em; }
h2 { font-size: 1.65em; letter-spacing: -1px; }
h3 { font-size: 1.3em; letter-spacing: 0px; }
h4 { font-size: 1.1em;  color: #b54b2e; }
h5 { font-size: 1.1em; line-height: 1.3em; margin: 25px 0; width: 100%; color: #737373; }
h6 { font-size: 1.1em; text-transform: uppercase; line-height: 1.3em;margin: 25px 0; color: #b54b2e;}

p { margin: 20px 0; padding: 0 0 3px; text-align: left; line-height: 1.3em;}

dl { margin: 10px 0; }
dt { font-weight: bold; margin: 0; padding: 5px 5px 2px 0;}
dd { margin: 0 0 5px; padding: 2px 0 5px; }

ul, ol { margin: 20px 0; padding: 0; list-style-position: outside;}
ul li, ol li { margin: 5px 0 0 1.5em; padding: 0 0 5px; }

form { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; border: none; }
fieldset {margin: 0; padding: 0;border: none; }
form ul, form li { list-style: none; margin: 0; padding: 0; float: left; width: 100%;}
form li { margin: 3px 0; display: block;}
form ul li.half {width: 45% !important;margin-right: 10%;}
form ul li.half + li.half {margin-right: 0;}
input[type="text"], textarea {-webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid #a1a1a1; border-left: 1px solid #c4c4c4; border-bottom: 1px solid #dedede; border-right: 1px solid #dedede; background: #fff; color: #868686; font: 10pt/150% Helvetica, Arial, sans-serif; display: block; /*width: 98%; padding: 5px 2% can't use this because of FIREFOX bug with handling percentage paddings for inputs. STACK OVERFLOW solution is used below instead to avoid any dodgy workarounds*/ ;font-size: .9em; padding-bottom: 5px; padding-top: 5px; padding-left: 10px; padding-right: 10px; }

/*STACK OVERFLOW solution for 100% px width fluid inputs*/
input[type="text"], textarea { display:block; padding:5px 10px; width:100%; box-sizing: border-box; /* css3 rec */-moz-box-sizing: border-box; /* ff2 */ -ms-box-sizing: border-box; /* ie8 */ -webkit-box-sizing: border-box; /* safari3 */ -khtml-box-sizing: border-box; /* konqueror */ }

input[type="text"]:hover,input[type="text"]:focus,textarea:hover,textarea:focus { color: #000; }
form a { color: #000; }
form .valid { background: url(../images/valid.png) 100% 4px no-repeat; }
form .error { background: url(../images/error.png) 100% 4px no-repeat; }

/* = end =============GENERAL============== */
/* = start =============STRUCTURE============== */
#wrapper { width: 100%; float: left; overflow: hidden; position: relative; }

#container { margin: 0 auto; width: 980px;}
#container:after { display: block; visibility: hidden; content: "."; height: 0; line-height: 0; font-size: 0; clear: both; }	

#header, #content, #footer {width: 100%; float: left;}
#header { position: relative; z-index: 999; }
#footer { padding: 0px 1860px; margin: 0 -1860px; /*special treatment due to fluid background*/ background: url(../images/footer-gr.png) 0 0 repeat-x;}

.main { width: 680px; clear: both; padding-bottom: 30px;}
.sidebar { width: 220px; padding-left: 30px; padding-top: 30px;}
.main, .sidebar { float: left; }

#content.left-sidebar { background: url(../images/gr-3b.png) 0 0 repeat-y; }
#content.right-sidebar { background: url(../images/gr-3.png) 100% 0 repeat-y; }

#content.right-sidebar .main { margin-right: 0px; margin-left: 0; padding-right: 0px; margin-right: 50px;}
#content.left-sidebar .main { margin-left: 300px; margin-right: 0; }
#content.no-sidebar .main { width: 100%; }
#content.left-sidebar .sidebar { margin-left: -980px; padding-left: 0; padding-right: 30px; }

/*= start =============SITE-WIDE CUSTOM STYLES + CONTENT============== */

/* ALIGNMENT */
.aligncenter { margin-left: auto; margin-right: auto; display: block; float: none;}
.alignleft { float: left; margin-right: 30px !important; margin-left: 0 !important;margin-top: 0px;}  
.alignright { float: right; margin-left: 30px !important; margin-right: 0 !important; margin-top: 0px;}

/* FRAME */
.frame,
.frame-holder img { display: block; border: 5px solid #fff;  -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 2px; -moz-box-shadow: rgba(0,0,0,.3) 0 1px 2px; box-shadow: rgba(0,0,0,.3) 0 1px 2px; position: relative; border-radius: 4px; -moz-border-radius: 4px;}
.frame-holder, .frame { margin: 20px 0;  position: relative; outline: none;}
.frame-holder img { float: left; }
p.frame-holder { margin-top: 0; }
a.frame-holder:hover img { border-color: #c5725b;}
a.frame-holder:hover,
a.frame-holder:focus { text-decoration: none; }
.title-description { text-align: center; float: left; clear:left; width: 100%;display: block; text-align: center; padding: 10px 0 5px; margin: 0px 0; font-size: .9em; line-height: 1em; color: #a1a0a0; }
.frame-holder img { display: block; margin: 0 auto; }
.frame-holder[class*="align"] img { /*margin: 0;*/ /*IE7 needs this*/}
.frame.aligncenter,
.frame-holder.aligncenter { margin-left: auto; margin-right: auto; display: block; float: none;}


.frame-holder .icon { position: absolute; top: -10px; right: -10px; width: 22px; height: 22px; background: url(../images/img-zoom-ico.png) 0 0 no-repeat; z-index: 10;}

.media.alignright { margin-left: 40px !important; }
.media.alignleft { margin-right: 40px !important; }

/* CLIENTS */
.clients {margin-right: -45px;position: relative; float: left; height: 76px; width: 103%; }
.clients ul.items { margin: 0; padding: 0; list-style: none; float: left;height: 76px; overflow: hidden; background: blue;}
.clients ul.items li { float: left; margin: 0;margin-right: 10px;padding-bottom: 10px; list-style: none; background: red;}
.clients .frame-holder { margin: 0 !important; float: left;border: 1px solid #fff;}
.clients .frame-holder img { border-width: 3px; }
.clients .slider-nav { top: -40px; right: 3%; left: auto; bottom: auto; }
