
/* - css info -
author: Mateusz Jastrzebski 
contact: contact.pordesign@gmail.com
- */
 
#nav a { color: #fff !important;}
 
.popular .items li,
.featured .items li,
blockquote p,
#twitter_div.type-2,
.news .meta,
.js .pip .enlarged,
.tags li a { border: 1px solid #333; border-right: 1px solid #cfcfcf; border-left: 1px solid #cfcfcf;border-bottom: 1px solid #afafaf; border-top: 1px solid #dfdfdf; }
 
.button { border-bottom: 1px solid #818181; border-right: 1px solid #ddd;}
 
.frame,
.frame-holder img { border-color: #ddd; border-bottom-color: #bbb; border-top-color: #eee; }
.frame-holder.alignleft img { float: left; }
.media .frame-holder img { float: left; }
 
.frame-holder {}
.frame-holder.preview.alignright { position: relative; padding-left: 30px; margin-left: 0 !important;}
.frame-holder.preview.alignright img { float: left; position: relative; margin: 0; }
 
ul.media { float: left; width: 113%; }
 
.addthis.alignright { margin-left: 0 !important; padding-left: 30px; }
 
.clients ul.items { width: 100%}
 
.success-stories .media.alignleft { float: left;}
.success-stories .media.alignright { float: right;}
 
.success-stories .media.alignleft * { float: left;}
.success-stories .media.alignright * { float: right;}
 
.testimonials .read-more { display: none; }
.testimonials li:hover .read-more { display: block; }
blockquote p { position: relative; background: none; margin-bottom: 0px; }
 
#twitter_div.type-2 { padding-bottom: 70px; }
 
#content.left-sidebar .main { margin-right: -980px; clear: left; position: relative;}
#content.left-sidebar .sidebar { margin-left: 20px;}
 
#main-heading .flickr-feed ul.items { float: left; display: block; height: 120px;}
#main-heading .flickr-feed ul.items li { float: left;}
 
#main-heading #twitter_update_list { }
#main-heading #twitter_update_list li { display: block; float: left; width: 30%; }
#main-heading #twitter_update_list li { color: #fff; }
 
.button input { padding: 0 !important; margin: 0 !important;}
 
.gallery.type-1 .media { float: left; display: block; width:497px;}
.gallery.type-1 .desc { float: left; display: block;width: 460px; }
 
.gallery.type-2 { width: 103%; margin-right: -3%; float: left; }
.gallery.type-2 > li {  width: 300px; margin-left: 35px; margin-right: 0;}
 
.gallery.type-1 > li { margin-top: 20px; }
.gallery.type-1 > li:first-child { margin-top: 0px; }
 
.post-nav { margin: 20px 0 0;}
 
#main-heading .success-stories .slider-nav { bottom: -1px; top: auto; left: 0; }
#main-heading .success-stories .slider-pagination { bottom: -3px; left: 68px; }
 
 
#twitter_div.type-2 .button { margin-top:  45px !important; margin-bottom: 0px !important;}
#twitter_div.type-2 { padding-bottom: 20px !important}
 
.pricing {  border-collapse: expression('separate', cellSpacing = '20px'); }
.pricing table,
.pricing table td { border: none; }
 
.button + .hr { margin-top: 20px; }
 
.sidebar { padding-bottom: 20px;}
 
.sidebar #twitter_div li { margin-bottom: 60px; padding-top: 0px; }
 
form.search input[type="submit"] { right: 34px !important; height:20px; top: 15px; }
input[type="text"]{ height:20px;}
 
.title { }
.title * .date { float:right; color: #a9aeb3; font-size: 10pt; top:-74px; position:relative;  right: 0px; line-height: 80px;}

.services { width: 103%; margin: 20px 0 20px -3%; }
.services li { float: left; margin-left: 3%;}
.services.four-cols li { margin-left: 3%; }
.services.three-cols li { margin-left: 3%; }
.services.two-cols li { margin-left: 3%;}


.columns > .half { width: 47%; }
.popular .items li h3 a{ margin-top: 0; margin-bottom: 0; font-size: 13px; line-height:16px; }
.news ul.meta li{ font-size: 0.8em;}

.roundabout { margin:auto !important;  height: 385px; width: 620px !important; float:none;}
ul.media1 li { float: left; width:207px; margin: -17px 17px 17px 17px; padding: 0;}
.main .testimonials.three-cols .items li { width: 31%; margin-left: 2%; }
