<div id="switcher-holder" class="closed">
	<ul id="switcher">
		<li>
			<a href="http://themefields.net/" class="logo"><img src="switcher/media/images/lwm-logo.png" alt="Premium WordPress Themes with Passion" /></a>	
		</li>
		
		<li>
			<ul class="menu">
				<li class="select-theme">
					<a href="#"><span>Themes</span></a>
					<div class="dropdown">
						<ul class="items">
							
						</ul>
						<div title="hover items for a preview" class="preview">
						</div>
					</div>
				</li>
				<li class="change-color-1">
					<a href="#"><span>Background color</span></a>
					<div class="dropdown">					
					
					</div>
				</li>
				<li class="change-color-2">
					<a href="#"><span>Main color</span></a>
					<div class="dropdown">					
					
					</div>
				</li>
				<li class="change-font">
					<a href="#"><span>Font</span></a>
					<div class="dropdown">
						<ul class="items">
						</ul>
					</div>
				</li>
				<li class="change-slider">
					<a href="#"><span>Slider</span></a>
					<div class="dropdown">
						<ul class="items">
						</ul>
					</div>
				</li>
			</ul>
		</li>
		
		<li>
			<ul class="menu type-2">
				<li class="psd"><a class="title-tooltip" title="Download FREE PSD!" href="#"><span><img src="switcher/media/images/psd-ico.png" alt="" /></span></a></li>
				<li class="html"><a class="title-tooltip" title="View HTML Template" href="#"><span><img src="switcher/media/images/html-ico.png" alt="" /></span></a></li>
				<li class="wp"><a class="title-tooltip" title="You are viewing it now!" href="#"><span><img src="switcher/media/images/wp-ico.png" alt="" /></span></a></li>
			</ul>
		</li>
		
		<li>
			<a class="purchase" href="http://goo.gl/zzKYh"><img src="switcher/media/images/purchase.png" alt="" /></a>
		</li>
		<li class="toggle">
			<div><a title="Hide theme options" class="title-tooltip" href="#">toggle panel</a></div>
		</li>
	</ul>
</div>
