/*ether panel icon*/
#icon-ether-panel { background: url(../images/icon-ether-panel.png) 0 -5px; }

/*info box*/
	/*toggle button*/
.ether .toggle-info-box { display: none; }
.ether .toggle-info-box.js { display: block; position: absolute; top: 20px; right: 30px; width: 16px; height: 16px; background: url(../images/icon-info.png) 0 0 no-repeat; text-indent: -9999px;}
	/*box*/
.ether .info-box { margin-bottom: 15px;border: 1px solid #e3e3e3;padding: 1px 0 0 1px; background: #fff; -webkit-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border-radius: 4px; -moz-border-radius: 4px; -moz-border-radius: 4px;}
.ether .info-box.js { display: none; width: 300px;  position: absolute; right: 60px; top: 15px; z-index: 888; /* fake white border start*/ /* fake white border end */ }
.ether .info-box > div { background: #f3f3f3; padding: 15px;}
.ether .info-box > div > * { margin: 15px 0; }
.ether .info-box.js > div > *:first-child { margin-top: -15px; margin-right: -22px; padding-top: 15px; background: url(../images/info-box-bg.png) 100% 6px no-repeat; }
.ether .info-box > div > *:last-child { margin-bottom: 0; }
.ether .info-box h4 { font-size: 14pt !important; font-weight: normal ; margin: 0; padding: 0 0 3pt; background: none; text-shadow: none; }
.ether .info-box p { font-size: 10pt !important; margin-left: 0 !important; /*!important to override default wordpress styles*/}
.ether .info-box a { text-decoration: none; color: #1663a0; }
.ether .info-box a:hover,
.ether .info-box a:focus { text-decoration: underline; }

/*tabs*/
#ether-tabs { float: left; width: 100%; margin: 10px 0 0; padding: 0; list-style: none;}
#ether-tabs li { float: left; list-style: none; margin: 0; padding: 0; border: 1px solid #e3e3e3; border-bottom: none;}
#ether-tabs li.help { float: right; }
#ether-tabs a { float: left; padding: 0 10px; line-height: 2em; border-left: 1px solid #fff; border-top: 1px solid #fff; color: #2a2a2a; background: #f1f1f1; text-decoration: none; color: #000;}
#ether-tabs a:hover,
#ether-tabs a:focus,
#ether-tabs .current a { color: #1663a0; background: #fff; }
#ether-tabs * { -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px;}

/* general form styling*/
.ether { /*margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; border: none;*/ }
.ether { clear: left; margin: 0; display: block; padding: 20px 30px !important /*default wordpress override*/;border: 1px solid #e3e3e3; border-bottom: none; background: #fff; position: relative; /* relative positioning for hint info*/ }
#side-info-column .ether { padding: 0 !important; }
.inside .ether { margin: -7px 0 0; border-left: none; border-right: none; }
.ether:after { display: block; visibility: hidden; content: "."; height: 0; line-height: 0; font-size: 0; clear: both; }	

.ether ul,
.ether li { list-style: none; margin: 0; padding: 0; float: left; width: 100%;}
.ether li { margin: 3px 0; display: block;}

.ether h4 { font-size: 14pt !important; font-weight: normal; margin: 0; padding: 0 0 3pt; }
.ether h5 { margin: 0; padding: 0 0 3pt;font-size: 10pt !important /*default wordpress override*/; color: #1663a0; font-weight: normal; }
.ether h5.alt-style-1 { /*height: 23px;*/ display: block; margin: 5px 0; padding-bottom: 1px; padding-top: 2px; padding-left: 0px; padding-right: 5px; font-size: 8pt !important; font-weight: bold; color: #313131; }
.ether p.hint { font-size: 8pt !important /*default wordpress override*/; color: #7d7d7d;}
.ether h5 + p.hint { margin-top: 0px;}
.ether label { /*height: 23px;*/ display: block; margin: 5px 0; padding-bottom: 1px; padding-top: 2px; padding-left: 0px; padding-right: 5px; font-size: 10pt !important /*default wordpress override*/; color: #1663a0;}
.ether label.alt-style-1 { font-size: 8pt !important; font-weight: bold; color: #313131;}
.ether label.alt-style-2 { font-size: 8pt !important; font-weight: normal; color: #313131;}
.ether label.fixed { float: left; margin-right: 10px;}
.ether select { width: 100%; margin: 5px 0; padding-bottom: 3px; padding-top: 3px; padding-left: 5px; padding-right: 5px; }
.ether input[type="text"], textarea { display: block; width: 100%; float: left; margin: 5px 0; padding-bottom: 0px; padding-top: 0; padding-left: 5px; padding-right: 5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #d6d6d6; border-bottom: 1px solid #ebebeb; border-right: 1px solid #ebebeb; background: #f4f4f4;/* background: url(images/form-item-bg-1.gif) 0 0 repeat-x;*/ color: #868686; font: 10pt/150% Helvetica, Arial, sans-serif; font-size: 10pt !important /*default wordpress override*/ /* width: 98%;*//*padding: 5px 2% can't use this because of FIREFOX bug with handling percentage paddings for inputs. STACK OVERFLOW solution is used below instead to avoid any dodgy workarounds*/;}
.ether input[type="text"] {height: 23px;}
.ether textarea { padding-bottom: 2px; padding-top: 2px;}
.ether label input[type="text"] { float: none; width: 40px; clear: none; display: inline;}
.ether input + input,
.ether input + textarea { clear: left; }
.ether input[type="button"],
.ether input[type="submit"] { width: 100px; float: left; margin: 5px 0; padding-top: 6px; padding-bottom: 6px;  -webkit-border-radius: 10px; -moz-border-radius: 8px; border-radius: 8px; border: 1px solid #bbb;  font-size: 8pt !important /*default wordpress override*/; background: #fff url(../images/button-gr.png) 0 100% repeat-x; color: #482222; text-shadow: #fff 0 1px; cursor: pointer;}
.ether input[type="button"] { padding-top: 0; padding-bottom: 0;height: 23px;}
.ether input + textarea { clear: left; }
.ether input[type="text"]:hover,
.ether input[type="text"]:focus,
.ether textarea:hover,
.ether textarea:focus { color: #000; }
.ether input.half, .ether textarea.half, .ether select.half { width: 50%; }
.ether input.two-third, .ether textarea.two-third, .ether select.two-third { width: 66%; }
fieldset.ether { background: transparent !important; }

/*tiny text input*/
.ether input.tiny { width: 40px !important; }

/*** START - STACK OVERFLOW SOLUTION for 100% px width fluid inputs - to get inputs/textareas to expand, class auto need to be applied directly to them. They will expand relatively to the maximum width of the containing list item ***/
.ether input[type="text"].auto,
.ether textarea.auto { display:block; padding:5px 10px; width:100%; box-sizing: border-box; /* css3 rec */-moz-box-sizing: border-box; /* ff2 */ -ms-box-sizing: border-box; /* ie8 */ -webkit-box-sizing: border-box; /* safari3 */ -khtml-box-sizing: border-box; /* konqueror */ }
/*** END - STACK OVERFLOW SOLUTION ***/


/* 2 inputs in a row */
.ether ul li.half {width: 48%; margin-right: 4%; min-width: 100px;}
.ether ul li.half + li.half {margin-right: 0;}

/* 3 inputs in a row + specific styles */
.ether ul li.third {width: 30%;margin-right: 5%; min-width: 150px;}
.ether ul li.third + li.third + li.third { margin-right: 0; }
.ether .third input[type="text"],
.ether .third textarea,
.ether .third select { width: 125px; }
.ether .third label.fixed { width: 100px; }

/* x inputs in a row specific styles*/
.ether ul.tapeworm li { width: auto; }
.ether ul.tapeworm li { margin-right: 5px; }
.ether ul.tapeworm input,
.ether ul.tapeworm select,
.ether ul.tapeworm label { clear: none; width: 100px; margin-right: 5px;}
.ether ul.tapeworm label { float: left; width: auto; }
.ether ul.tapeworm span { float: left; line-height: 2.4em;  padding-right: 5px; font-size: 8pt; padding-top: 3px;} 
.ether ul.tapeworm input[type="button"],
.ether ul.tapeworm input[type="submit"] { width: auto; }

/*submit/reset fieldset related styles*/
.ether.submit { border: none; padding: 10px 0; background: none; border-top: 1px solid #e3e3e3;}
.ether.submit input { width: auto; }
.ether.submit input[type="submit"] { width: auto; font-weight: bold; text-transform: uppercase; }

/*default form item width (to apply whenever you want to override other default setting for some reason)*/
.ether .default { width: 200px !important; }

/* google fonts options/styles */
.ether.google-fonts { padding-left: 330px !important; }
.ether.google-fonts .preview { width: 250px; float: left; margin: 8px 0 0 -300px !important; padding: 0 0 3px; clear: left;}
.ether.google-fonts ul.options { float: right; width: 80px; margin-top: -40px;}
.ether.google-fonts ul.options li { margin: 3px; float: left; clear: none; width: 14px;}
.ether.google-fonts ul.options li input { width: 14px; height: 14px; line-height: 0; font-size: 0; text-indent: -9999px; padding: 0; margin:0; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; background-position: 0 0; background-repeat: no-repeat; border: none;}
.ether.google-fonts ul.options li input:hover,
.ether.google-fonts ul.options .active input { background-position: 0 -14px; }
.ether.google-fonts ul.options li input:active { margin-top: 1px; margin-bottom: -1px; }
.ether.google-fonts ul.options li input.bold { background-image: url(../images/bold-icon.gif); }
.ether.google-fonts ul.options li input.italic { background-image: url(../images/italic-icon.gif);}
.ether.google-fonts ul.options li input.justify { background-image: url(../images/justify-icon.gif);}
.ether.google-fonts ul.options li input.center { background-image: url(../images/center-icon.gif);}
.ether.google-fonts ul.options li input.underline { background-image: url(../images/underline-icon.gif);}
.ether.google-fonts ul.options li input.all-uppercase { background-image: url(../images/all-uppercase-icon.gif);}
.ether.google-fonts ul.options li input.alignright { background-image: url(../images/alignright-icon.gif);}
.ether.google-fonts ul.options li input.alignleft { background-image: url(../images/alignleft-icon.gif);}
.ether.google-fonts ul.options li input[type="checkbox"] {display: none; } 

.ether.google-fonts h1 { font-size: 1.4em; }
.ether.google-fonts h2 { font-size: 1.3em; }
.ether.google-fonts h3 { font-size: 1.2em }
.ether.google-fonts h4 { font-size: 1.1em; }
.ether.google-fonts h5 { font-size: 1.1em; }
.ether.google-fonts h6 { font-size: 1.1em; }
.ether.google-fonts p { margin: 20px 0; padding: 0 0 3px; text-align: justify;}

/*customize your logo section*/
.ether .logo-image { margin-top: 10px; width: 250px; float: left; height: 60px; }	
.ether .logo-preview-box { margin: 0 20px 0 0; padding: 0; height: 60px; border: 1px solid #e5e5e5; background: #f3f3f3; color: #a5a5a5; text-align: center; width: 300px; float: left; line-height: 1.4em; text-transform: uppercase; font-size: 1.8em;}

/*favicon section*/
.ether .favicon-preview-box { position: relative; /* due to the favicon img tag*/ background: url(../images/favicon-base.png) 0 0 no-repeat; height: 40px; padding-left: 570px;}
.ether .favicon-preview-box img { position: absolute; top: 11px; left: 138px; }

/*action buttons*/ /* .buttons container contains single or multiple buttons everywhere in the ether panel. Added for the ease of aligning and managing contained buttons (for instance by adding .single-row class you can force the buttons to align one next to another if there's enough space) */
.ether .buttons { }
.ether .buttons label { display: none;}
.ether .alignright { float: right; }
.ether .alignleft { float: left;}
.ether .buttons.alignright * { margin-left: 20px; }
.ether .buttons.alignleft * { margin-right: 20px; }
.ether .single-row * { clear: none; }
.ether .buttons label + input { clear: left;}

/* custom thumbs */
.ether .custom-thumbs-options { float: left; width: 300px; }
.image-placeholder { float: left; width: 220px; background: #eee; min-height: 30px; margin-right: 10px;} /* .image-placeholder sits in place of a particular image after it has been indicated by the user that he want's to upload his own custom thumbnail and before he actually adds it */

/*images slider uploader specific styles*/ /* .slides contains the basic functionality of adding images to the images slider and further containing the .images-holder with more additional .slides items extra functionality */
.ether .slides { padding-left: 0; display: block; float: none; width: auto;background: #ddd !important;}
.ether .slides > li { width: 100%; padding: 0; margin: 10px 0 0; }
.ether .slides input { clear: none; }
.ether .dragndrop { height: 23px; width: 23px; margin-left: 0; float: left; padding: 0; text-indent: -9999px; font-size: 0; line-height: 0; border: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;margin-right: 5px; margin-top: 5px; }
.ether input.slider-image-index {width: 23px; padding: 0; text-align: center; margin-right: 5px; margin-bottom: 10px; margin-left: 0;}
.ether input.remove-image  { float: left;height: 23px; width: 23px; padding: 0; text-indent: -9999px; font-size: 0; line-height: 0; background: url(../images/remove-button.png) 0 0 no-repeat; border: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;margin-right: 5px;}
.ether li > a.remove_slide > img { padding-top: 10px; padding-left: 5px; }
.ether input.add-image { float: left; clear: left; height: 23px; width: 23px; padding: 0; text-indent: -9999px; font-size: 0; line-height: 0; background: url(../images/add-button.png) 0 0 no-repeat; border: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; margin-left: 0px !important; clear: both;}
/* the reason for a separate .images-holder containing proper images list is the toggle functionality. Toggle button is contained inside the .images-holder that has a border and when the content inside the .images-holder is toggles, it's only the toggle button that is left displayed */
.ether .images-holder { clear: both; padding: 0px; margin-top: 10px; margin-left: 0; border: 1px solid #e3e3e3; float: right; width: 100%; position: relative; min-height: 45px;}
.ether .images-holder .toggle-images-holder { position: absolute; top: 15px; right: 15px; width: 15px; height: 15px; background: url(../images/toggle-images-holder-bg.png) 0 0 no-repeat; text-indent: -9999px;}
.ether .images-holder .toggle-images-holder.open { background-position: 0 -16px; } /* open indicates that the next click will open the .images-holder that was previously minimized */
.ether .images-holder ul { margin: 0; padding: 15px 30px 15px 15px; list-style: none; width: auto;}
.ether .images-holder li { margin: 15px 0 0; padding: 0; list-style: none; width: auto; clear: left;}
.ether .images-holder li img { padding-right: 15px; float: left;}
.ether .images-holder li:first-child { margin-top: 0; }
.ether .images-holder li span.note { float: left; font-size: 8pt; color: #7d7d7d;}
.ether li .title { margin: 8px 0 0 65px; width: 70%; }

 /*color theme section*/
.ether .color-theme { float: right; }

/* lightbox specific */ /*these rules are lightbox dependant - they use default wordpress #media-upload id to set lightbox specific rules*/
#media-upload .ether { border: none; padding: 10px 0 !important; }
#media-upload label.fixed { width: 150px !important; float: left;}
#media-upload .options { float: left; width: 200px !important;}
#media-upload .options li { margin: 0 !important}

/* Table general rules */
.ether table { border-collapse: collapse; border: none; margin: 20px auto; padding: 0; }
.ether table td, 
.ether table th { border: 1px solid #e3e3e3; margin: 0;padding: 0; background: #fff; color: #5c5c5c; vertical-align: top;}
.ether table th { padding: 5px; text-align: center; color: #444; }
.ether table td { text-align: left;}

/* Table first row and first column treatment*/
.ether table tr:first-child * { background: #fff url(../images/table-head-gr.png) 0 100% repeat-x; padding: 20px;}
.ether table tr > *:first-child { text-align: left; padding-left: 20px; }

/* List nested inside the table (faking table cells - list seems more suitable here than anything else */
.ether table ul { margin: 0 0 -1px; padding: 0; list-style: none; border-bottom: 1px solid #e3e3e3;}
.ether table li { margin: 0; padding: 2px 0 2px 10px; display: block; width: auto; float: none; list-style: none; border-top: 1px solid #e3e3e3; }
.ether table td > ul li:first-child { border: none; }

/* Forms nested inside the table */
.ether table label { margin: 0; padding: 3px 0; color: #5c5c5c;display: inline; float: none;}
.ether table label input { margin: 0; text-align: center; padding-left: 5px; padding-right: 5px; width: 40px; }

/* Table buttons */
.ether table .buttons { float: right; /*always aligned to the right, no need to add another class in html source*/}
.ether table label + .buttons { margin-top: 7px; float: right; }
.ether table .buttons input { /*buttons inside the table look different hence additional styling is required*/ clear: none; width: 12px; height: 12px; float: left; text-indent: -9999px; font-size: 0; line-height: 0; border: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; margin: 2px 3px 0 3px; padding: 0;}
.ether table input.change { background: url(../images/change-ico.gif) 0 0 no-repeat;}
.ether table input.delete { background: url(../images/delete-ico.gif) 0 0 no-repeat;}
.ether table input.save { display: none; background: url(../images/save-ico.gif) 0 0 no-repeat;}

form.shortcode #major-publishing-actions { height: 40px; }
form.shortcode .button-primary { margin-top: 10px; }

.ether input.color { border: 1px solid #000; width: 23px !important; height: 23px !important; text-indent: -9999px !important; line-height: 0; font-size: 1px !important;}

.ether div.slider-range, .ether div.slider-value { font-weight: bold; position: absolute; top: 20px; }
.ether div.slider-range { right: 0; }

.slider-min, .slider-max { position: absolute; top: 20px; }
.slider-min { left: 0; }
.slider-max { right: 0; }
.ui-slider { margin-top: 15px; }
.ether.images .buttons { position: absolute; top: 0; right: 0; }
ul.slides li { position: relative; }

.has-tooltip { position: relative; }
.tooltip { display: none;  float: left; position: absolute; top:0; left: 0; text-align: center; padding: 3px 3px; color: #a5a9ab; background: #212121; z-index: 100; width: auto; margin-right: -999px;} 
.tooltip:after { width: 8px; height: 8px; display: block; content:""; background: #212121;position: absolute; left: 25px; bottom: -4px; margin-left: -4px;margin-top: 0px;-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); z-index: 0; }
.has-tooltip:hover .tooltip { display: block; }
.upload_preview_image { display: block; margin: 0 auto 0; }

h1.preview, h2.preview, h3.preview, h4.preview, h5.preview, h6.preview, p.preview { color: #000; font-family: sans-serif !important; font-weight: normal !important; font-style: normal !important; text-decoration: none !important; margin: 0; padding: 0; }

h1.preview { font-size: 22px !important; }
h2.preview { font-size: 20px !important; }
h3.preview { font-size: 18px !important; }
h4.preview { font-size: 16px !important; }
h5.preview { font-size: 14px !important; }
h6.preview, p.preview { font-size: 12px !important; }


